* {
  box-sizing: border-box;
}
html {
  --color1: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 50px;
  background-color: var(--color1);
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}
.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #2f243a;
  text-decoration: none;
  text-align: end;
}
.menu a:hover {
  color: #6cd4ff;
  transition: color 0.3s;
}
/*general*/
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  text-align: center;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #6cd4ff;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2f243a;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 65ch;
}
label {
  font-family: Arial, Helvetica, sans-serif;
}
/*index*/
.forside {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 800;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
.forside:hover {
  color: #ff729f;
}
/* produkt*/
.kort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  padding-left: 200px;
  padding-right: 150px;
  justify-content: center;
}
img {
  width: 400px;
}
.text {
  padding-top: 5rem;
}

.buyButton {
  border: solid #ff729f 1px;
  padding: 10px;
  color: #ff729f;
  position: absolute;
  margin-top: 1rem;
}

.buyButton:hover {
  color: black;
  border: solid 1px #2f243a;
  transition: 0.2s;
}

select {
  background-color: white;
  border: solid 0.5px #2f243a;
}
/*kategori*/
.kategorier {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 6rem;
  padding-top: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.button {
  padding: 2rem;
  background-color: #ff729f;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  text-align: center;
  height: 12rem;
  align-content: center;
}

/*produktliste*/
.liste {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
  place-items: center;
  gap: 30px;
}
.liste img {
  width: 300px;
}
.item {
  display: grid;
  justify-content: center;
}
.item a:hover {
  color: #ff729f;
  transition: color 0.2s;
}
