* {
  box-sizing: border-box;
}
html {
  --color1: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 50px;
  background-color: var(--color1);
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}
.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #2f243a;
  text-decoration: none;
  text-align: end;
}
/*general*/
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #2f243a;
}
.menu a:hover {
  color: #6cd4ff;
  transition: color 0.3s;
}

/*index*/
.forside {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 800;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
/* produkt*/
.kort {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*kategori*/
.kategorier {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 50px;
}
.button {
  padding: 2rem;
  background-color: #ff729f;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  text-align: center;
}
